.air{
    margin: 1em 0em 1em 0em;
}

.container{
    padding: 1em;
    max-width:100vh;
    max-height: 100vh;
    overflow-x: hidden;

}
.box{border: solid 1px grey;}
.main{
    grid-area: 3 / 5 / span 1 / span 1;
    background-color: #0088ce;
}

.secondary{
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #0088ce;
}
.tertiary{
    grid-area: 4 / 8 / span 1 / span 1;
    background-color: #0088ce;
}
.gridsize{
    width:450px;
    height:250px;
}


/*Need to edit the css below into correct folders*/

.sq-aligning-container{
    display:flex;
    width:10em;
    max-width:11em;
    height:10em;
    max-height:11em;
    border:solid 1px black;
    background-color:lightgrey;
}

.sq-aligning-box{
    width:2em;
    height:2em;
    background-color:darkslategray;
    border:solid 1px black;
}

/*Justify Content Classes*/
.sq-justify-center{
    justify-content:center;
}

.sq-justify-start{
    justify-content:flex-start;
}

.sq-justify-end{
    justify-content:flex-end;
}

.sq-justify-between{
    justify-content:space-between;
}

.sq-justify-around{
    justify-content:space-around;
}

/*End of Justify Content Classes*/

/*replaced the .code from list.css*/
.code1{
	background-color:lightgrey;
	border-left:solid 3px black;
	padding-left: 1em;
}

/* Start of Align Items classes*/

.sq-align-center{
    align-items:center;
}

.sq-align-start{
    align-items:flex-start;
}

.sq-align-end{
    align-items:flex-end;
}

.sq-align-stretch{
    align-items:stretch;
}

.sq-align-baseline{
    align-items:baseline;
}

/*end of Align Items Classes*/