html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    background-color: var(--background);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100vh;
    width: 100vw;

}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding:0px;
    margin: 0px;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Encode Sans Condensed', sans-serif;
    /* overflow: hidden;  */
}

audio,
canvas,
img,
video {
    max-width:100%;
    height:auto;
}
a:active,
a:hover {
    outline: none;
}
a{
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}
button.underline-link, 
a.underline-link {
	  position: relative;
	  /* color: var(--primary); */
	  text-decoration: none;
}
/* button.underline-link:hover, */
/* a.underline-link:hover { */
/* 	  color: var(--primary); */
/* } */
button.underline-link::before,
a.underline-link::before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 3px;
	  bottom: -5px;
	  left: 0;
	  background-color: var(--primary);
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.2s ease-in-out 0s;
	  transition: all 0.2s ease-in-out 0s;
}
button.underline-link:hover::before,
a.underline-link:hover::before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
}

b,
strong {
    font-weight: bolder;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
blockquote {
    margin: 0 0 20px 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-style: italic;
    color: var(--accent-grey);
}
progress {
    vertical-align: baseline;
}
a,
area,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}


